<!DOCTYPE html>
<html lang="en">
<head th:include="tmpl-head :: head">
    <title>A propos de ce serveur</title>
</head>

<body>
<form action="" method="get" id="outerForm">
    <div th:replace="tmpl-navbar-top :: top"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="tmpl-navbar-left :: left"></div>

            <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">

                <div th:replace="tmpl-banner :: banner"></div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">A propos de ce serveur</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Ce serveur fournie l'ensemble des resources de la spécification Fhir R4.
                        </p>
          <p>
                            Il est important que les informations des soins de santé puissent être partagées rapidement. Cela garantit que les bonnes informations sont disponibles sur chaque patient, afin que les soignants puissent prendre les bonnes décisions. Le partage de données passe par toutes les organisations et inclut désormais les applications mobiles et basées sur le cloud.
FHIR fait partie d'une famille internationale de normes développées par Health Level-7 (HL7). Les modèles d'information et les API développés à l'aide de cette norme offrent un moyen de partager des informations sur la santé et les soins entre les prestataires et leurs systèmes, quel que soit le contexte dans lequel les soins sont dispensés.
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informations sur ce serveur</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Custom ISI-HOP (2021)
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="tmpl-footer :: footer"></div>
</form>
</body>
</html>
